* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body,
#app {
    height: 100%;
}

.ant-card {
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.ant-table {
    margin-top: 40px;
}

.ant-avatar {
    padding: 0px;
}