$padding: () !default;
$padding: ("pa-1": 1px,
  "pa-2": 2px,
  "pa-3": 3px,
  "pa-4": 4px,
  "pa-5": 5px,
  "pa-6": 6px,
  "pa-7": 7px,
  "pa-8": 8px,
  "pa-9": 9px,
  "pa-10": 10px,
  "pa-11": 11px,
  "pa-12": 12px,
  "pa-13": 13px,
  "pa-14": 14px,
  "pa-15": 15px,
  "pa-16": 16px,
  "pa-17": 17px,
  "pa-18": 18px,
  "pa-19": 19px,
  "pa-20": 20px,
  "pa-21": 21px,
  "pa-22": 22px,
  "pa-23": 23px,
  "pa-24": 24px,
  "pa-25": 25px,
  "pa-26": 26px,
  "pa-27": 27px,
  "pa-28": 28px,
  "pa-29": 29px,
  "pa-30": 30px,
  "pa-31": 31px,
  "pa-32": 32px,
  "pa-33": 33px,
  "pa-34": 34px,
  "pa-35": 35px,
  "pa-36": 36px,
  "pa-37": 37px,
  "pa-38": 38px,
  "pa-39": 39px,
);

$padding-top: () !default;
$padding-top: ("pt-1": 1px,
  "pt-2": 2px,
  "pt-3": 3px,
  "pt-4": 4px,
  "pt-5": 5px,
  "pt-6": 6px,
  "pt-7": 7px,
  "pt-8": 8px,
  "pt-9": 9px,
  "pt-10": 10px,
  "pt-11": 11px,
  "pt-12": 12px,
  "pt-13": 13px,
  "pt-14": 14px,
  "pt-15": 15px,
  "pt-16": 16px,
  "pt-17": 17px,
  "pt-18": 18px,
  "pt-19": 19px,
  "pt-20": 20px,
  "pt-21": 21px,
  "pt-22": 22px,
  "pt-23": 23px,
  "pt-24": 24px,
  "pt-25": 25px,
);

$padding-left: () !default;
$padding-left: ("pl-1": 1px,
  "pl-2": 2px,
  "pl-3": 3px,
  "pl-4": 4px,
  "pl-5": 5px,
  "pl-6": 6px,
  "pl-7": 7px,
  "pl-8": 8px,
  "pl-9": 9px,
  "pl-10": 10px,
  "pl-11": 11px,
  "pl-12": 12px,
  "pl-13": 13px,
  "pl-14": 14px,
  "pl-15": 15px,
  "pl-16": 16px,
  "pl-17": 17px,
  "pl-18": 18px,
  "pl-19": 19px,
  "pl-20": 20px,
  "pl-21": 21px,
  "pl-22": 22px,
  "pl-23": 23px,
  "pl-24": 24px,
  "pl-25": 25px,
);

$padding-right: () !default;
$padding-right: ("pr-1": 1px,
  "pr-2": 2px,
  "pr-3": 3px,
  "pr-4": 4px,
  "pr-5": 5px,
  "pr-6": 6px,
  "pr-7": 7px,
  "pr-8": 8px,
  "pr-9": 9px,
  "pr-10": 10px,
  "pr-11": 11px,
  "pr-12": 12px,
  "pr-13": 13px,
  "pr-14": 14px,
  "pr-15": 15px,
  "pr-16": 16px,
  "pr-17": 17px,
  "pr-18": 18px,
  "pr-19": 19px,
  "pr-20": 20px,
  "pr-21": 21px,
  "pr-22": 22px,
  "pr-23": 23px,
  "pr-24": 24px,
  "pr-25": 25px,
);

$padding-bottom: () !default;
$padding-bottom: ("pb-1": 1px,
  "pb-2": 2px,
  "pb-3": 3px,
  "pb-4": 4px,
  "pb-5": 5px,
  "pb-6": 6px,
  "pb-7": 7px,
  "pb-8": 8px,
  "pb-9": 9px,
  "pb-10": 10px,
  "pb-11": 11px,
  "pb-12": 12px,
  "pb-13": 13px,
  "pb-14": 14px,
  "pb-15": 15px,
  "pb-16": 16px,
  "pb-17": 17px,
  "pb-18": 18px,
  "pb-19": 19px,
  "pb-20": 20px,
  "pb-21": 21px,
  "pb-22": 22px,
  "pb-23": 23px,
  "pb-24": 24px,
  "pb-25": 25px,
);

$margin: () !default;
$margin: ("ma-1": 1px,
  "ma-2": 2px,
  "ma-3": 3px,
  "ma-4": 4px,
  "ma-5": 5px,
  "ma-6": 6px,
  "ma-7": 7px,
  "ma-8": 8px,
  "ma-9": 9px,
  "ma-10": 10px,
  "ma-11": 11px,
  "ma-12": 12px,
  "ma-13": 13px,
  "ma-14": 14px,
  "ma-15": 15px,
  "ma-16": 16px,
  "ma-17": 17px,
  "ma-18": 18px,
  "ma-19": 19px,
  "ma-20": 20px,
  "ma-21": 21px,
  "ma-22": 22px,
  "ma-23": 23px,
  "ma-24": 24px,
  "ma-25": 25px,
  "ma-26": 26px,
  "ma-27": 27px,
  "ma-28": 28px,
  "ma-29": 29px,
  "ma-30": 30px,
  "ma-31": 31px,
  "ma-32": 32px,
  "ma-33": 33px,
  "ma-34": 34px,
  "ma-35": 35px,
  "ma-36": 36px,
  "ma-37": 37px,
  "ma-38": 38px,
  "ma-39": 39px,
);
$margin-top: () !default;
$margin-top: ("mt-1": 1px,
  "mt-2": 2px,
  "mt-3": 3px,
  "mt-4": 4px,
  "mt-5": 5px,
  "mt-6": 6px,
  "mt-7": 7px,
  "mt-8": 8px,
  "mt-9": 9px,
  "mt-10": 10px,
  "mt-11": 11px,
  "mt-12": 12px,
  "mt-13": 13px,
  "mt-14": 14px,
  "mt-15": 15px,
  "mt-16": 16px,
  "mt-17": 17px,
  "mt-18": 18px,
  "mt-19": 19px,
  "mt-20": 20px,
  "mt-21": 21px,
  "mt-22": 22px,
  "mt-23": 23px,
  "mt-24": 24px,
  "mt-25": 25px,
);
$margin-left: () !default;
$margin-left: ("ml-1": 1px,
  "ml-2": 2px,
  "ml-3": 3px,
  "ml-4": 4px,
  "ml-5": 5px,
  "ml-6": 6px,
  "ml-7": 7px,
  "ml-8": 8px,
  "ml-9": 9px,
  "ml-10": 10px,
  "ml-11": 11px,
  "ml-12": 12px,
  "ml-13": 13px,
  "ml-14": 14px,
  "ml-15": 15px,
  "ml-16": 16px,
  "ml-17": 17px,
  "ml-18": 18px,
  "ml-19": 19px,
  "ml-20": 20px,
  "ml-21": 21px,
  "ml-22": 22px,
  "ml-23": 23px,
  "ml-24": 24px,
  "ml-25": 25px,
);
$margin-right: () !default;
$margin-right: ("mr-1": 1px,
  "mr-2": 2px,
  "mr-3": 3px,
  "mr-4": 4px,
  "mr-5": 5px,
  "mr-6": 6px,
  "mr-7": 7px,
  "mr-8": 8px,
  "mr-9": 9px,
  "mr-10": 10px,
  "mr-11": 11px,
  "mr-12": 12px,
  "mr-13": 13px,
  "mr-14": 14px,
  "mr-15": 15px,
  "mr-16": 16px,
  "mr-17": 17px,
  "mr-18": 18px,
  "mr-19": 19px,
  "mr-20": 20px,
  "mr-21": 21px,
  "mr-22": 22px,
  "mr-23": 23px,
  "mr-24": 24px,
  "mr-25": 25px,
);
$margin-bottom: () !default;
$margin-bottom: ("mb-1": 1px,
  "mb-2": 2px,
  "mb-3": 3px,
  "mb-4": 4px,
  "mb-5": 5px,
  "mb-6": 6px,
  "mb-7": 7px,
  "mb-8": 8px,
  "mb-9": 9px,
  "mb-10": 10px,
  "mb-11": 11px,
  "mb-12": 12px,
  "mb-13": 13px,
  "mb-14": 14px,
  "mb-15": 15px,
  "mb-16": 16px,
  "mb-17": 17px,
  "mb-18": 18px,
  "mb-19": 19px,
  "mb-20": 20px,
  "mb-21": 21px,
  "mb-22": 22px,
  "mb-23": 23px,
  "mb-24": 24px,
  "mb-25": 25px,
);

$ban: () !default;
$ban: ("padding": $padding,
  "padding-top": $padding-top,
  "padding-left": $padding-left,
  "padding-right": $padding-right,
  "padding-bottom": $padding-bottom,
  "margin": $margin,
  "margin-top": $margin-top,
  "margin-left": $margin-left,
  "margin-right": $margin-right,
  "margin-bottom": $margin-bottom,
);

@mixin padding($value) {
  padding: $value !important;
}

@mixin padding-top($value) {
  padding-top: $value !important;
}

@mixin padding-left($value) {
  padding-left: $value !important;
}

@mixin padding-right($value) {
  padding-right: $value !important;
}

@mixin padding-bottom($value) {
  padding-bottom: $value !important;
}

@mixin margin($value) {
  margin: $value !important;
}

@mixin margin-top($value) {
  margin-top: $value !important;
}

@mixin margin-left($value) {
  margin-left: $value !important;
}

@mixin margin-right($value) {
  margin-right: $value !important;
}

@mixin margin-bottom($value) {
  margin-bottom: $value !important;
}

@each $k,
$v in $ban {
  @if ($k=="padding") {

    @each $name,
    $value in $v {
      .#{$name} {
        @include padding($value);
      }
    }
  }

  @else if ($k=="margin") {

    @each $name,
    $value in $v {
      .#{$name} {
        @include margin($value);
      }
    }
  }

  @else if ($k=="margin-top") {

    @each $name,
    $value in $v {
      .#{$name} {
        @include margin-top($value);
      }
    }
  }

  @else if ($k=="margin-left") {

    @each $name,
    $value in $v {
      .#{$name} {
        @include margin-left($value);
      }
    }
  }

  @else if ($k=="margi-right") {

    @each $name,
    $value in $v {
      .#{$name} {
        @include margin-right($value);
      }
    }
  }

  @else if ($k=="margin-bottom") {

    @each $name,
    $value in $v {
      .#{$name} {
        @include margin-bottom($value);
      }
    }
  }

  @else if ($k=="padding-left") {

    @each $name,
    $value in $v {
      .#{$name} {
        @include padding-left($value);
      }
    }
  }

  @else if ($k=="padding-top") {

    @each $name,
    $value in $v {
      .#{$name} {
        @include padding-top($value);
      }
    }
  }

  @else if ($k=="padding-right") {

    @each $name,
    $value in $v {
      .#{$name} {
        @include padding-right($value);
      }
    }
  }

  @else if ($k=="padding-bottom") {

    @each $name,
    $value in $v {
      .#{$name} {
        @include padding-bottom($value);
      }
    }
  }
}